body {
  background-color:rgb(180, 151, 167);
  background-image: url("Pink.jpg");
}


.home {
  height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}